.el-picker-panel {
  background-color: $bgColor-box;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border: none;
  color: #fff;
  .popper__arrow {
    &::after {
      border-bottom-color: $bgColor-wrapper;
    }
  }
  .el-date-range-picker__content.is-left {
    border-right: 1px solid $text-color;
  }

  .el-date-table {
    th {
      color: $text-color;
      border-bottom: none;
    }
    td {
      &.prev-month,
      &.next-month {
        color: #606266;
      }
      &.in-range {
        div {
          background: none;
        }
      }
    }
  }
}
