:export {
  colorful_1: #3af3a7;
  colorful_2: #c23531;
  colorful_3: #ca8622;
  colorful_4: #b06ceb;
  colorful_5: #749f83;
  colorful_6: #31e0f0;
}

.card-title {
  height: 40px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: bolder;
}

.card-title.total-count {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-content {
  height: calc(100% - 40px);
  position: relative;
}

.offLine {
  color: #c4d8d9 !important;
}

.onLine {
  color: #0d9bff !important;
}

.active-warn {
  color: #c23531 !important;
  display: inline-block;
}

.alarm-prior1 {
  color: red;
}

.alarm-prior2 {
  color: #409eff;
}

.alarm-prior3 {
  color: #67c23a;
}

.profit {
  color: goldenrod;
}

@font-face {
  font-family: yjsz;
  src: url("~@/assets/font/yjsz.ttf");
}

@font-face {
  font-family: DINCondensed-Bold;
  src: url("~@/assets/font/DINCondensed-Bold.ttf");
}

.runLineIcon-onLine {
  color: #31e0f0;
}

.runLineIcon-offLine {
  color: #999;
  border: 1.5px solid #999 !important;
}

> > > .el-form-item__label {
  line-height: normal !important;
  min-height: 36px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: #999;
  margin-bottom: 30px;
}

.search-wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 5px;
}

.search-wrapper > div .search-name {
  display: inline-block;
  text-align: right;
}

.margin-lr {
  margin: 0 10px;
}

.margin-l {
  margin-left: 10px;
}

.margin-r {
  margin-right: 10px;
}

.dark-box {
  border-radius: 5px;
}

#app[data-theme="light"] .dark-box {
  background: #fff !important;
}

#app[data-theme="black"] .dark-box {
  background: #212223 !important;
}

#app[data-theme="green"] .dark-box {
  background: #1c2a39 !important;
}

.icon-border-animate {
  transition: 0.5s;
  animation: breath 2s ease-in-out infinite;
  animation-direction: alternate;
}
